$tooltip-bg: #333;
$tooltip-text: white;
$tooltip-margin: 2rem;
$tooltip-arrow-size: 6px;

.tooltip-wrapper {
  display: inline-block;
  position: relative;
}
.tooltip-tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem;
  color: $tooltip-text;
  background: $tooltip-bg;
  font-size: 1rem;
  line-height: 1;
  z-index: 99;
  white-space: nowrap;
  transition: opacity 1s ease-out;
}

// arrow triangle of tooltip
.tooltip-tip::before {
  content: '';
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: $tooltip-arrow-size;
  margin-left: calc(#{$tooltip-arrow-size} * -1);
}
// Positions
.tooltip-tip.top {
  top: calc(#{$tooltip-margin} * -3);
}
.tooltip-tip.top::before {
  top: 100%;
  border-top-color: $tooltip-bg;
}

.tooltip-tip.right {
  top: 50%;
  left: calc(100% + #{$tooltip-margin});
  transform: translateX(0) translateY(-50%);
}

.tooltip-tip.right::before {
  left: calc(#{$tooltip-arrow-size} * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: $tooltip-bg;
}

.tooltip-tip.bottom {
  bottom: calc(#{$tooltip-margin} * -3);
}
.tooltip-tip.bottom::before {
  bottom: 100%;
  border-bottom-color: $tooltip-bg;
}

.tooltip-tip.left {
  left: auto;
  right: calc(100% + #{$tooltip-margin});
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.tooltip-tip.left::before {
  left: auto;
  right: calc(#{$tooltip-arrow-size} * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: $tooltip-bg;
}
