.tooltip-wrapper {
  display: inline-block;
  position: relative;
}

.tooltip-tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1.5rem;
  color: white;
  background: #333;
  font-size: 1rem;
  line-height: 1;
  z-index: 99;
  white-space: nowrap;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.tooltip-tip::before {
  content: '';
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  margin-left: calc(6px * -1);
}

.tooltip-tip.top {
  top: calc(2rem * -3);
}

.tooltip-tip.top::before {
  top: 100%;
  border-top-color: #333;
}

.tooltip-tip.right {
  top: 50%;
  left: calc(100% + 2rem);
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}

.tooltip-tip.right::before {
  left: calc(6px * -1);
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
  border-right-color: #333;
}

.tooltip-tip.bottom {
  bottom: calc(2rem * -3);
}

.tooltip-tip.bottom::before {
  bottom: 100%;
  border-bottom-color: #333;
}

.tooltip-tip.left {
  left: auto;
  right: calc(100% + 2rem);
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}

.tooltip-tip.left::before {
  left: auto;
  right: calc(6px * -2);
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
  border-left-color: #333;
}
