:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f8fa;
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 90vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.medium {
  width: 992px;
}

.container.small {
  width: 768px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2 {
  margin-top: 3rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: none;
  min-width: 10rem;
  max-width: 100%;
  border: 0;
  padding: 1.5rem 2rem;
  border-radius: 1.625rem;
  -webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
          box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
  background: #282936;
  color: white;
}

.btn.btn-primary {
  background: #282936;
  color: white;
}

.tooltip-wrapper {
  display: inline-block;
  position: relative;
}

.tooltip-tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1.5rem;
  color: white;
  background: #333;
  font-size: 1rem;
  line-height: 1;
  z-index: 99;
  white-space: nowrap;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.tooltip-tip::before {
  content: '';
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  margin-left: calc(6px * -1);
}

.tooltip-tip.top {
  top: calc(2rem * -3);
}

.tooltip-tip.top::before {
  top: 100%;
  border-top-color: #333;
}

.tooltip-tip.right {
  top: 50%;
  left: calc(100% + 2rem);
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}

.tooltip-tip.right::before {
  left: calc(6px * -1);
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
  border-right-color: #333;
}

.tooltip-tip.bottom {
  bottom: calc(2rem * -3);
}

.tooltip-tip.bottom::before {
  bottom: 100%;
  border-bottom-color: #333;
}

.tooltip-tip.left {
  left: auto;
  right: calc(100% + 2rem);
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}

.tooltip-tip.left::before {
  left: auto;
  right: calc(6px * -2);
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
  border-left-color: #333;
}
